= form_for [@recipe, @quantified_ingredient], html:{multipart:true, remote:true} do |q|
  = q.fields_for :ingredient do |i|
    .row
      .large-12.columns
        =q.error_messages
    .row
      .large-12.columns
        = i.text_field :name, 'placeholder'=>'name'
    .row
      .large-12.columns
        =q.text_field :quantity, 'placeholder'=>'quantity'
    .row
      .large-12.columns
        %label
          image
          =i.file_field :image
    .row
      .large-6.columns
        %a.close-button-class.close-reveal-modal Cancel
      .large-6.columns
        = q.submit 'Done', class:'button expand'
