:javascript
  $(document).ready(function(){
    var $container = $('#recipes');
    // initialize
    $container.imagesLoaded( function() {
      $container.masonry({
        columnWidth: 250,
        itemSelector: '.recipe'
      });
    });
  });

#recipes
  -@recipes.each do |recipe|
    .recipe
      .img= link_to image_tag(recipe.image_url(:medium).to_s), recipe
      %br
      .txt
        %p
          = link_to recipe.name, recipe
          %br
          = truncate(recipe.description, :length=>30)
