:javascript
  $(document).ready(function(){
    var $container = $('#recipes');
    // initialize
    $container.imagesLoaded( function() {
      $container.masonry({
        columnWidth: 210,
        itemSelector: '.recipe'
      });
    });
  });

#recipes
  -@recipes.each do |recipe|
    .recipe
      .img= link_to image_tag(random_image_version(recipe, 'medium', 3)), recipe
      .txt
        = link_to recipe.name, recipe
        %br
        = truncate(recipe.description, :length=>30)
