:javascript
  $(document).ready(function(){
    var $container = $('#recipes');
    // initialize
    $container.masonry({
      columnWidth: 200,
      itemSelector: '.recipe'
    });    
  });

#recipes
  -@recipes.each do |recipe|
    %div{:class=>['recipe', cycle('even', 'odd')]}
      = link_to image_tag(recipe.image_url(:medium).to_s), recipe
      = link_to recipe.name, recipe
      %br
      = truncate(recipe.description, :length=>30)