-content_for(:nav_title) do
  %a.button.active{href:'#','data-open-clearing-target'=>'#cover','data-thumb-index'=>'0'}
    =@recipe.name

%ul.clearing-thumbs.hide#cover{'data-clearing'=>true}
  %li
    %a{'href'=>asset_path(@recipe.image_url(:medium_2).to_s)}
      =image_tag(@recipe.image_url(:medium_2).to_s,
                 'data-caption'=>@recipe.description)
#steps
  .row
    .large-12.columns.text-center
      %button.button{'data-swapout'=>'#steps', 'data-swapin'=>'#ingredients'} Ingredients
  .row
    .large-12.columns.text-center
      %ul{'data-orbit'=>true,
          'data-options'=>'pause_on_hover:true;slide_number:true;circular:false;variable_height:true'}
        -@recipe.steps.each_with_index do |step, index|
          %li
            =image_tag(step.image_url(:medium_1).to_s)
            .orbit-caption= step.description
#ingredients.hide
  .row
    .large-12.columns.text-center
      %button.button{'data-swapin'=>'#steps', 'data-swapout'=>'#ingredients'} Steps
  .row
    .large-12.columns.text-center
      %ul.clearing-thumbs{'data-clearing'=>true}
        -@recipe.quantified_ingredients.each_with_index do |q, index|
          %li
            %a{'href'=>asset_path(q.ingredient.image_url(:medium_1).to_s)}
              =image_tag(q.ingredient.image_url(:medium_1).to_s,
                         'data-caption'=>"#{q.quantity} #{q.ingredient.name}")