<!DOCTYPE html>
<html>
<head>
  <title>Cooking</title>
  <%= stylesheet_link_tag    "cooking/application", :media => "all" %>
  <%= javascript_include_tag "cooking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
