=form_for [@recipe, @step], html:{multipart:true, remote:true} do |f|
  .row
    .large-12.columns
      =f.error_messages
  .row
    .large-12.columns
      =f.text_area :description, 'placeholder'=>'description'
  .row
    .large-12.columns
      %label
        Image
        =f.file_field :image
      -if !@step.new_record?
        %label
          Remove existing image
          =f.check_box :remove_image 
  .row
    .large-6.columns
      %a.close-button-class.close-reveal-modal Cancel
    .large-6.columns
      =f.submit 'Done', class:'button expand'