.recipe{
  //padding: 5px;
  //background-color:LightGray
  //margin-left:auto;
  //margin-right:auto;
  margin-bottom: 10px;
  float:left;
  border: 2px solid grey;
  .txt{
    padding: 5px;
    background-color:LightGray
  }
}
.ingredient{
  float:left;
  margin: 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.step{
  float:left;
  margin: 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
