=tabs_tag(builder: Cooking::F5OffCanvasMenu, namespace: :recipe,
          open_tabs: {class:'off-canvas-list'},
          active: {class:'active'}) do |tab|
  -tab.list 'List', recipes_path
  -tab.raw link_to('Add', new_recipe_path,
                    remote:true, 'data-reveal-id'=>'dialog')
  -if (@recipe && !@recipe.new_record?)
    -tab.edit 'Edit', edit_recipe_path(@recipe)
    -tab.show 'View', recipe_path(@recipe)
    -tab.raw link_to('Remove', @recipe, data: {confirm: 'Delete this recipe?'},
                      method: :delete, remote:true, 'data-reveal-id'=>'dialog')
    -if current_tab?(:edit, :recipe)
      -tab.raw link_to('Add ingredient', new_recipe_quantified_ingredient_path(recipe_id: @recipe.id),
                       remote:true, 'data-reveal-id'=>'dialog')
      -tab.raw link_to('Add step', new_recipe_step_path(@recipe),
                       remote:true, 'data-reveal-id'=>'dialog')